
/* .c3-lines {
    display: none;
} */
.navbar-default .navbar-nav>li>a{color:#ddd}
.navbar-default .navbar-nav>li>a:hover{color:#fff}
/*#home a img,*/
.device{
  opacity:85%
}
/*#home a img:hover,*/.device:hover{
  opacity:95%
}
a{color:#005a43;cursor: pointer;}
a:hover,a:focus{text-decoration:none;color:#005a43;cursor: pointer;}
.chart:empty::before{
  background-image:url("../img/skeleton.png");
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: center center;
  content:"";
  display:block;
  height:500px;
  opacity: 3%;
}
.regionX text{font-size: 16px;}